.jumbotron {
  padding: 2rem 1rem;
  background-color: #f3e3ff;
  font-family: Arial, sans-serif;
  margin-bottom: 180px;
  margin-top: 250px;
}

.navbar {
  font-family: Arial, sans-serif;
}

body {
  background-color: #f3e3ff;
  font-family: Arial, sans-serif;
  color: #a58cbf;
}
